@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf8f2;
  color: #111827;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Hide scrollbar for TV pages */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}